:root {
    --dis-sofondo_nav: #3161e0;
    --dis-sfondo_tasti: #23272a;
    --dis-sfondo_tasto_basso: #8ea1e1;
    --dis-sfondo_lightdark: #f6f6f6;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


header {
    display: flex;
    height: 77px;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 0;
}

.utility {
    header {
        background-color: var(--dis-sofondo_nav);
    }

    a {
        color: white;
        text-decoration: none;
        padding: 15px
    }

    #s_container_gray {
        background-color: var(--dis-sfondo_lightdark);
    }

    #jumbotron {
        background-image: url(./img/jumbo.png);

    }

    #s_container_black {
        background-color: rgb(40, 39, 39);
    }

    #top_wave {
        background-image: url(./img/wave_2.svg);

    }

    #lower_wave {
        background-image: url(./img/wave_4.svg);

    }

    #invite_box {
        background-image: url(./img/item1.svg);
        background-repeat: no-repeat;
        background-size: 80%;
    }

    #community_box {
        background-image: url(./img/item2.svg);
        background-repeat: no-repeat;
        background-size: 80%;
    }

    #fandom_box {
        background-image: url(./img/item3.svg);
        background-repeat: no-repeat;
        background-size: 80%;
    }

    #img_tec_box {
        background-image: url(./img/item4-big.svg);
        background-repeat: no-repeat;
        background-size: 80%;
    }

    #l_container {
        background-color: lightgray;
    }

    #stelline {
        background-image: url(./img/stars.svg);
    }

    #about {
        background-color: rgb(228, 129, 145);
    }

    .a_hub {
        background-color: rgb(34, 233, 233);
    }

    .logo_button {
        background-color: rgb(190, 80, 80);
    }

    #main_box_of_button_logo {
        background-color: rgb(40, 39, 39);
    }

    #box_button_logo {
        background-color: rgb(229, 255, 0);
    }


}


.s_container {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#s_container_gray {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#jumbotron {
    display: flex;
    height: 500px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;

}

#s_container_black {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 1100px;
    padding-left: 15px;
    padding-right: 15px;

}

#download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: white;
}

#invite_box {
    width: 40%;
    height: 400px;
}

#invite_text_box {
    width: 30%;
    height: 400px;
}


#l_container {
    display: flex;
    height: 1250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#tec_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 900px;
    width: 80%;
}

#about {
    height: 450px;
    width: 15%;
}

.a_hub {
    height: 450px;
    width: 16%;
}

#main_box_of_button_logo {
    display: flex;
    height: 115px;
    justify-content: center;
    align-items: flex-end;
}

#box_button_logo {
    display: flex;
    height: 80px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.logo_button {
    display: flex;
    height: 20px;
}

.subscription {
    border-radius: 30px;
    border: 1px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#top_b_download {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px;
    border-radius: 30px;
}

#open_browser {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    border: 1px;
    background-color: var(--dis-sfondo_tasti);
    color: white;
}

#freccia {
    font-size: 18px;
    display: inline-block;
    padding-right: 10px;
}

#container_bottoni {
    display: flex;
    width: 26%;
    justify-content: space-between;
}

#text_jumbotron {
    font-size: 15px;
    text-align: center;
    line-height: 1.7;
}

h1 {
    font-size: 40px;
    margin: 15px;
}

.p_description {
    margin: 10px;
    padding-top: 10px;
}

#community_box {
    width: 40%;
    height: 400px;
}

#community_text_box {
    width: 30%;
    height: 400px;
}


#top_wave {
    display: flex;
    height: 50px;
}

#lower_wave {
    display: flex;
    height: 50px;
}

#fandom_box {
    width: 40%;
    height: 400px;
}

#fandom_text_box {
    width: 30%;
    height: 400px;
}

#text_tec_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

#img_tec_box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 550px;
    width: 100%;
    margin-left: 250px;
}

#stelline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 20px;
}

#lower_b_download {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    border: 1px;
    background-color: var(--dis-sfondo_tasto_basso);
    color: white;
}